--extra-index-url https://download.pytorch.org/whl/cu121
fastapi==0.115.5
uvicorn[standard]==0.30.6
psycopg2-binary>=2.9.9,<2.9.11
SQLAlchemy>=2.0.35,<2.1
pydantic==2.9.2
python-dotenv==1.0.1
opencv-python-headless==4.10.0.84
torch==2.3.1+cu121
torchvision==0.18.1+cu121
ultralytics==8.3.44
numpy==1.26.4
websockets==13.1
Pillow==10.4.0
easyocr==1.7.1
